h1{
    color: rgb(221, 76, 190);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

}
p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;

}
img{
    border: 20px solid rgb(118, 21, 209);
}
body{
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/1667986149733800047/62E4D473CB4351A61C474C96FD0247392AC0706C/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
    color: #ffffff;

}
